<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Groupie Trackers</title>
  </head>
  <body>
    <h1>Artists</h1>
    <table>
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Members</th>
        <th>Creation Date</th>
        <th>First Album</th>
        <th>Locations</th>
        <th>Concert Dates</th>
        <th>Relations</th>
      </tr>
      {{range .}}
      <tr>
        <td>{{.Artist.Name}}</td>
        <td><img src="{{.Artist.Image}}" alt="{{.Artist.Name}}" width="100" /></td>
        <td>{{range .Artist.Members}}{{.}}, {{end}}</td>
        <td>{{.Artist.CreationDate}}</td>
        <td>{{.Artist.FirstAlbum}}</td>
        <td>{{range .Locations.Locations}}{{.}}<br>{{end}}</td>
        <td>{{range .Dates.Dates}}{{.}}<br>{{end}}</td>
        <td>
            {{range $location, $dates := .Relations.DatesLocations}}
                {{$location}}:
                {{range $dates}}
                    {{.}}<br>
                {{end}}
            {{end}}
        </td>
      </tr>
      {{end}}
    </table>
    <form id="myForm">
      <!-- Form fields here -->
      <button type="submit">Submit</button>
  </form>

  <script>
      document.addEventListener('DOMContentLoaded', (event) => {
          document.getElementById('myForm').addEventListener('submit', function (e) {
              e.preventDefault();

              fetch('/submit', {
                  method: 'POST',
                  body: new FormData(this)
              })
              .then(response => response.text())
              .then(data => alert(data));
          });
      });
  </script>
  </body>
</html>
