body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .artists-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .artist-card {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 768px) {
    .artist-card {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
  